<form action="/home/update" method="post">
<p></p>Mobile: <input type="text" name="mobile" value="<%=current_user.mobile%>">
  <p></p>Home address: <textarea name="home" ><%=current_user.home%></textarea>
  <p></p>office address: <textarea name="office" ><%=current_user.office%></textarea>
  <p></p><input type="submit">
</form>